{% extends "layout.html" %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css" >
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/menu.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/responsive-tabs.css" />
    <link type="text/css" rel="stylesheet" href="/static/style_o.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome.css" >
{% endblock %}
{% block body %}
    Internal error
    <img src="/static/images/think.png">
{% endblock %}