{% macro render_field(field) %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        {% for error in field.errors %}
            <span > {{ error }} </span>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_user(user) %}
<div class="items-container simple-items">
        <div class="repa">
          <div class="repa-top">
              <a href={{url_for('user_profile', user_id=user.user_id)}} title="Профиль пользователя">
                <img class="search_img" src="/data/user_{{user.user_id}}/avatar" class="repa-top-img"></a>
              <p class="repa-top-angle">{% if user.user_type == "Creator" %} Автор {%else%} Издательство{%endif%} </p>
              <p class="repa-top-skoka" title="Репутация"><span> {{user.rating}}</span></p>
          </div>
          <div class="repa-content">
              <a href={{url_for('user_profile', user_id=user.user_id)}} title="Профиль пользователя"><h3>{{user.user_name}}</h3></a>
              <p style="text-align: center;">{{user.user_surname}}</p>
          </div>
        </div>
</div>
<!--
    <a href={{url_for('user_profile', user_id=user.user_id)}}>
        <p> Name: {{user.user_name}} Surname: {{user.user_surname}} Rating: {{user.rating}}</p>
    </a>!-->

{% endmacro %}

{% macro render_composition(comp) %}

<div style="">

    <span>
        <a href={{url_for('composition_page',composition_id=comp.id)}} >
        {{ comp.name }} [id:{{ comp.id }}]</a>


        <span style="float: right;">
            (<a href={{url_for('like_composition',composition_id=comp.id)}} class="icon-thumbs-up"></a> |
            <a href={{url_for('dislike_composition',composition_id=comp.id)}} class="icon-thumbs-down"></a>)

            {% if session.signedin and session.user_id == comp.creator_id %}
                <a href={{url_for('change_modifier',composition_id=comp.id)}}> {{ comp.modifier }} </a>
                <a href={{url_for('delete_composition',composition_id=comp.id)}} >Удалить</a>
            {% endif %}
        </span>
        <span style="float: right;">(Рейтинг: {{ comp.rating }})&nbsp;</span>
        <hr>
    </span>
</div>
{% endmacro %}


{% macro render_composition_send(publisher_id, comp) %}

<div style="">

    <span style="font-size: 18px;">
        <a href={{url_for('composition_page',composition_id=comp.id)}} >
        {{ comp.name }} [id:{{ comp.id }}]</a>


        <span style="float: right;">
        </span>
        <span style="float: right;">(Рейтинг: {{ comp.rating }}) <a href={{url_for('send_prose',publisher_id=publisher_id,prose_id=comp.id)}}> Отправить </a> </span>
        <hr>
    </span>
</div>
{% endmacro %}

{% macro render_composition_for_page(comp, text) %}
<div  id="pagebody" style="height: 3200px;">
    <div align="center">
        <h1>
            {% if session.signedin and session.user_id == comp.creator_id %}
            <textarea name="comp_name" style="text-align:  center; min-width: 100%; max-width: 100%; min-height: 30px; max-height: 50px; font-size:28px; overflow-x: hidden; background: #f6f6f6; border-style: none; " >{{ comp.name }}</textarea>
            {% else %}
            {{ comp.name }}
            {% endif %}
            {% if session.signedin %}
                    <div style="width: 85px; margin: 0 auto;">
                        (<a href={{url_for('like_composition',composition_id=comp.id)}} class="icon-thumbs-up"></a> |
                        <a href={{url_for('dislike_composition',composition_id=comp.id)}} class="icon-thumbs-down"></a>)
                    </div>
            {% endif %}
            <br>
            <span style="font-size: 24px">(Рейтинг: {{ comp.rating }})</span>
                {% if session.signedin and session.user_id == comp.creator_id %}
                    <a style="font-size: 24px;" href={{url_for('delete_composition',composition_id=comp.id)}} >Удалить</a>
                {% endif %}
        </h1>

        <br>

    </div>
    <div align="center">
        <span>
            {% if session.signedin and session.user_id == comp.creator_id %}
                <form  action="" method="post">
                    <p hidden>comp.composition_id</p>
                    <p><input type="submit" name="submit" value="Cохранить"></p>
                    <textarea class="content_col" id="content_text" style="width: 100%; max-width: 100%; min-height: 2750px; max-height: 2750px; padding-right: 5px; overflow-x: hidden;  text-align: center; font-size:14px;" cols="100" name="text">{{text}}</textarea>
                </form>
            {% else %}
               <textarea class="content_col" id="content_text" readonly style="width: 100%; min-height:2750px; max-width: 100%; max-height: 2750px; text-align: center; font-size:14px; overflow-x: hidden; background: #f6f6f6; border-style: none; border-radius: 8px 0 0 0; padding: 8px 8px 8px 10px;" cols="100" name="text">{{text}}</textarea>
            {% endif %}
        </span>
    </div>

</div>


 <style>
    .pbody {
            width: 70%;
        }

</style>
    <!--<a href={{url_for('composition_page',composition_id=comp.id)}} >
        <p>Type: {{ comp.composition_type }}</p>
    </a>!-->
{% endmacro %}

{% macro render_poem_name(poem, poem_id) %}

<div class="mark_col"> <a onclick="make_visible({{poem_id}})">{{ poem.name }} </a></div>


{% endmacro %}


{% macro render_composition_for_collection_page(poem, poem_id) %}
<div class="content_col" id="content{{poem_id}}" name="text" style="height: 3200px;">
    <div align="center">
        <h2>
            <a href={{url_for('composition_page',composition_id=poem.id)}} id="content_name">
                {{ poem.name }}
            </a>
            <br>
        </h2>
        <br>
    </div>
    <div name="{{poem_id}}" align="center">
        <span>
               <textarea class="content_col" id="content_text{{poem_id}}" readonly style="width: 100%; min-height:2750px; max-width: 100%; max-height: 2750px; text-align: center; font-size:14px; overflow-x: hidden; background: #f6f6f6; border-style: none; border-radius: 8px 0 0 0; padding: 8px 8px 8px 10px;" cols="100" name="text">{{poem.text}}</textarea>
        </span>
    </div>
</div>


 <style>
    .pbody {
            width: 70%;
    }
</style>
    <!--<a href={{url_for('composition_page',composition_id=poem.id)}} >
        <p>Type: {{ poem.composition_type }}</p>
    </a>!-->
{% endmacro %}

{% macro render_users_for_search(users) %}
    {% for user in users %}
        {{render_user(user)}}
    {% endfor %}

{% endmacro %}

{% macro render_collection(coll) %}
    <div style="">

        <span>
            <a href={{url_for('collection_page',collection_id=coll.collection_id)}} >
                {{ coll.collection_name }} [id:{{ coll.collection_id }}]
            </a>
            <span style="float: right;">(Рейтинг: {{ coll.rating }})&nbsp;</span>
            <hr>
        </span>
    </div>
{% endmacro %}


{% macro render_collection_send(publisher_id, coll) %}
    <div style="">
        <span style="font-size: 18px;">
            <a href={{url_for('collection_page',collection_id=coll.collection_id)}} >
                {{ coll.collection_name }} [id:{{ coll.collection_id }}]
            </a>
            <span style="float: right;">(Рейтинг: {{ coll.rating }})&nbsp; <a href={{url_for('send_collection',publisher_id=publisher_id,collection_id=coll.collection_id)}}> Отправить </a></span>
            <hr>
        </span>
    </div>
{% endmacro %}

{% macro render_sent_prose(prose) %}
<div style="">
    <span>
        <a href={{url_for('composition_page',composition_id=prose.id)}} >
            {{ prose.name }} [id:{{ prose.id }}]
        </a>
        <span style="float: right;">
            (<a href={{url_for('accept_prose',prose_id=prose.id)}}>Принять</a> |
            <a href={{url_for('refuse_prose',prose_id=prose.id)}} >Отклонить</a>)
        </span>
        <span style="float: right;">(Рейтинг: {{ prose.rating }})&nbsp;</span>
        <hr>
    </span>
</div>
{% endmacro %}

{% macro render_sent_collection(coll) %}
    <div style="">

        <span>
            <a href={{url_for('collection_page',collection_id=coll.collection_id)}} >
                {{ coll.collection_name }} [id:{{ coll.collection_id }}]
            </a>
            <span style="float: right;">
                (<a href={{url_for('accept_collection',collection_id=coll.collection_id)}} >Принять</a> |
                <a href={{url_for('refuse_collection',collection_id=coll.collection_id)}} >Отклонить</a>)
            </span>
            <span style="float: right;">(Рейтинг: {{ coll.rating }})&nbsp;</span>
            <hr>
        </span>
    </div>
{% endmacro %}