<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><span style="font-size:1.5vw;">И так, сегодня я решил вспомнить лучшие книги 2017 года, которые стоит прочитать.</span></p>

<p>&nbsp;</p>

<div style="text-align: center;">
    <!--------------------- #1 !-------------------->
<div style="background: rgb(45, 45, 45); width: 100%; padding-bottom: 5vw;">
<div style="background: rgb(242, 117, 85); border-radius: 0.2vw; margin-left: 0%; padding-top: 0.2vw; padding-bottom: 0.7vw;"><span style="font-size:2vw; color: white;">10 место. <a href="http://booksstars.ru/load/books/sovremennaja_literatura/golodnyj_dom/44-1-0-139" style="font-weight: 800; color: white;">Голодный дом</a></span></div>

<table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
	<tbody>
		<tr>
			<td style="width: 40%;"><img alt="Девид Митчелл. Голодный дом" src="http://booksstars.ru/_ld/0/97955054.jpg" style="width: 100%" /></td>
			<td>
			<p><span style="font-size:1.5vw;">Впервые на русском &mdash; новейший роман прославленного Дэвида Митчелла, дважды финалиста Букеровской премии, автора интеллектуальных бестселлеров &laquo;Сон №9&raquo;, &laquo;Облачный атлас&raquo; (недавно экранизированный Томом Тыквером и братьями Вачовски) и многих других. Стивен Кинг назвал &laquo;Голодный дом&raquo; &laquo;редкостной, великолепной вещью&raquo;, а Энтони Дорр &mdash; &laquo;&ldquo;Дракулой&rdquo; нового тысячелетия&raquo;.&nbsp;</span></p>
			</td>
		</tr>
	</tbody>
</table>

<div style="text-align: center;">
<div style="background: rgb(242, 117, 85); border-radius: 0 10px; width: 8vw; float: left; margin-right: 10px; padding-bottom: 0.7vw; margin-bottom: 10px; padding-top: 0.3vw; "><span style=""><a href="http://booksstars.ru/load/books/uzhasy/52" style="font-weight: 900; color: rgb(255,255,255); font-size: 1vw; ">Ужасы</a></span></div>

<div style="background: rgb(242, 117, 85); border-radius: 0 10px; width: 9vw; float: left; margin-right: 10px; padding-bottom: 0.7vw; margin-bottom: 10px; padding-top: 0.3vw;"><span style=""><a href="http://booksstars.ru/load/books/mistika/50" style="font-weight: 900; color: rgb(255,255,255); font-size: 1vw;">Мистика</a></span></div>

<div style="background: rgb(242, 117, 85); border-radius: 0 10px; width: 17vw; float: left; margin-right: 10px; padding-bottom: 0.7vw; margin-bottom: 10px; padding-top: 0.3vw;"><span style=""><a href="http://booksstars.ru/load/books/sovremennaja_literatura/44" style="font-weight: 900; color: rgb(255,255,255); font-size: 1vw;">Современная литература</a></span></div>

<div style="background: rgb(242, 117, 85); border-radius: 0 10px; width: 14vw; float: left; margin-right: 10px; font-weight: 900; color: rgb(255,255,255); font-size: 1vw; padding-bottom: 0.7vw; margin-bottom: 10px; padding-top: 0.3vw;"><span style="">Дэвид Митчелл</span></div>
</div>
</div>
    <!-------------------- /#1 !-------------------->
</div>

</body>
</html>