<!DOCTYPE html>
<html lang="ru">
    <head>
        {% block title %}
        {% endblock %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
    <div class="body">
        <div style="height: 100%; width: 75%; float: left;">
            <!--Main!-->
            <div style="text-align: center; margin-top: 20px;">
                <img height="300px" width="600px" src="/static/images/back_main.jpg" alt="задний фон">
            </div>
        {% block body %}
        {% endblock %}

        </div>
    </div>
    </body>
    {% block scripts %}
    {% endblock %}
    <div class="footer">
    </div>
</html>