{% extends "user_profile.html" %}
{% from "includes/_formhelper.html" import render_composition %}
{% block title %}
    <title>Автор</title>
{% endblock %}

{% block type_profile %}
    <div style="float: right; ">
        <h1> <span style="float: right; margin-right: 20px;"> Автор [Рейтинг: {{user.rating}}]</span></h1>
    </div>

    <div style="margin-bottom: 50px;">
    <p>&nbsp;</p>
    </div>


    <div class="profile_info">
        <div class="wrapper_o">

            <!--Horizontal Tab-->
            <div id="horizontalTab">
                <ul>
                    <li><a href="#tab-1">Профиль</a></li>
                    <li><a href="#tab-2">Поэзия</a></li>
                    <li><a href="#tab-3">Проза</a></li>
                    <li><a href="#tab-4">Сборники</a></li>
                </ul>

                <div id="tab-1">
                    <p>Информация о себе</p>
                </div>
                <div id="tab-2">
                    <p>Жанры:
                        {% for k in poem_types %}
                        <span style="font-size: 14px;">{{k}}({{poem_types[k]}}),</span>
                        {% endfor %}
                    </p>
                    {% for comp in poems %}
                    {{render_composition(comp)}}
                    {% endfor %}

                </div>
                <div id="tab-3">
                    <p>Жанры:
                        {% for k in prose_types %}
                        <span style="font-size: 14px;">{{k}}({{prose_types[k]}}),</span>
                        {% endfor %}
                    </p>
                    {% for comp in proses %}
                    {{render_composition(comp)}}
                    {% endfor %}

                </div>
                <div id="tab-4">
                    <p>Тут сборники</p>
                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </div>
{% endblock %}