{% extends "layout.html" %}
{% block body %}
{% from "includes/_formhelper.html" import render_field %}
    <h1> Profile </h1>
    {% if session.user_type == "Creator" %}
        <a href={{url_for("poem_adding")}}> Add poem </a>
        <a href={{url_for("prose_adding")}}> Add prose </a>
    {% endif %}
    <a href={{url_for("edit_info")}}> Edit info </a>
    <p> Id: {{session.user.user_id}}</p>
    <p> Email: {{session.user.user_mail}}</p>
    <p> Name: {{session.user.user_name}}</p>
    <p> Surname: {{session.user.user_surname}}</p>
    {% block type_profile %}{% endblock %}
{% endblock %}