{% extends "user_profile.html" %}
{% block type_profile %}

{% from "includes/_formhelper.html" import render_sent_collection, render_sent_prose, render_collection, render_composition %}
<div style="float: right; ">
    <h1> <span style="float: right; margin-right: 20px;"> Издатель </span></h1>
</div>

<div style="margin-bottom: 60px;">
</div>
    <div class="profile_info">
        <div class="wrapper_o">

	<!--Horizontal Tab-->
	<div  id="horizontalTab">
            <ul>
                <li><a href="#tab-1">Профиль</a></li>
                <li><a href="#tab-2">Сборники</a></li>
                <li><a href="#tab-3">Проза</a></li>

            </ul>

            <div id="tab-1">
                <p>Информация о издательстве</p>
                    <p>{{user.birth}}</p>
                    <p>{{user.phone}}</p>
                    <p>{{user.user_additional_info}}</p>
            </div>
            <div id="tab-2">
                <p>Изданные сборники</p>
                {% for coll in accepted_collections %}
                    {{ render_collection(coll) }}
                {% endfor %}
            </div>
            <div id="tab-3">
                <p>Изданная проза</p>
                {% for prose in accepted_proses %}
                    {{ render_composition(prose) }}
                {% endfor %}
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    </div>

{% endblock %}

{% block title %}
    <title> Издатель</title>
{% endblock %}