body {
    background-color: #FFFFE0;
}

.hat {
    border: 0.1vw solid;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
    background-color: #FFFFFF;
    height: 5vw;
    width: 80%;
    margin-left: 10%;
    margin-top: 5vw;
    padding-top: 0.25vw;
}

.top {
    border: 0.1vw solid;
    height: 12vw;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

.menu_div{
    border: 0.1vw solid;
    height: 3.1vw;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.2);
}

.body {
    border: 0.1vw solid;
    background-color: #FFFFFF;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    height: 100vw;
    width: 80%;
    margin-left: 10%;
}

.footer {

}

.sign_in_top{
    float: right;
    height: 5.25vw;
    margin-top: -0.25vw;
    margin-right: -0.03vw;
    background: rgb(123, 191, 106);
    border-top-right-radius: 1.9vw;
    # vertical-align: bottom;
}
.sign_in_top img {
    height: 100%;
}




ul{
	list-style: none;
	background-color: rgb(225,225,225);
	width: 15vw;
	border-bottom: 0.01vw solid #2a323f;
	border-bottom: none;
    padding-left: 0vw;
    width: 99.9%;
    margin-top: 0vw;

}
ul li{
	border-bottom: 0.01vw solid rgb(200,200,200);
	position: relative;
}
ul li:hover{
	background-color: rgb(200,200,200);
}
ul li:hover ul{
	display: block;
}
ul li:hover ul li ul{
	display: none;
}
ul li a{
	color: #484f61;
	padding: 1vw 2vw;
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5vw;
}
ul li a:hover{
	background-color: #5d99cf;
	color: #fff;
}
ul li ul li:hover ul{
	display: block;
}
ul li ul{
	position: absolute;
	left: 15vw;
	top: 0vw;
	display: none;
}